## Question 1

### Importing relevant libraries

In [1]:
import io
from io import BytesIO
import requests
import pandas as pd
import numpy as np
from datetime import timedelta, date
import datetime as datetime

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

C:\Users\MANAS\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\MANAS\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\MANAS\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

### Getting the list of NSE500 symbols

In [2]:
def get_NSE_symbols(url):
    
    symbollist = []
    while True:
        try:
            r = requests.get(url)
        except requests.ConnectionError:
            print('No connection, retrying')
        break
    print("--Connection Established Successfully--") 
    
    with open('N500.csv', "wb") as outfile:
        outfile.write(BytesIO(r.content).getbuffer())
        
    print("--Extracted NSE500 Symbols Successfully--") 
    data = pd.read_csv('N500.csv')
    for i in data.Symbol:
        symbollist.append(i)
    f = open("N500.csv",'w')
    f.close()
    return symbollist

### Extract DAT data

In [3]:
def get_DAT(dates, symbol):
    
    column = ['Record Type', 'Sr.No', 'Symbol','Type', 'QT', 'DQ', '% DQ/TQ']    
    c = 0
    for start in dates:        
        if start.month <= 9:
            if start.day <= 9:
                index = "0"+str(start.day)+"0"+str(start.month)+str(start.year)
            else:
                index = str(start.day)+"0"+str(start.month)+str(start.year)
        else:
            index = str(start.day)+str(start.month)+str(start.year)

        endpoint = 'https://www1.nseindia.com/archives/equities/mto/MTO_' + str(index) +'.DAT'

        try:
            r = requests.get(endpoint)
        except requests.status_codes == 404:
            print(f'{start} is not a trading day')
            continue

        
        with open('temp.csv', "wb") as outfile:
            outfile.write(BytesIO(r.content).getbuffer())    
        
        temp = pd.read_csv('temp.csv', skiprows = 4, names = column)
        temp = temp[temp.Type == 'EQ']
        temp = temp[temp.Symbol.isin(symbol)]
        
        if c == 0:
            col = []
            for sym in symbol:
                col.append(sym)
                col.append(f'{sym}_DQ')
            df = pd.DataFrame(columns = col) 
            c = 1
        
        k = 0

        for i in range(temp.shape[0]):
            df = df.append({temp.Symbol.iloc[i] : start, f'{temp.Symbol.iloc[i]}_DQ' : temp.DQ.iloc[i]}, ignore_index = True)   
            k+=1
            
        print(f'--Extracted data for {k} symbols on date : {index}--')
        df = df.apply(lambda x: pd.Series(x.dropna().values))
        f = open("temp.csv",'w')
        f.close()
    return df

### Arguments

In [4]:
url = 'https://www1.nseindia.com/content/indices/ind_nifty500list.csv'
symbol = get_NSE_symbols(url)

start = date(2005, 5, 1)
end = date(2005, 7, 8)

dateList = pd.bdate_range(start=start, end=end).to_pydatetime()
df = get_DAT(dateList,symbol)

--Connection Established Successfully--
--Extracted NSE500 Symbols Successfully--
--Extracted data for 158 symbols on date : 02052005--
--Extracted data for 158 symbols on date : 03052005--
--Extracted data for 158 symbols on date : 04052005--
--Extracted data for 158 symbols on date : 05052005--
--Extracted data for 159 symbols on date : 06052005--
--Extracted data for 159 symbols on date : 09052005--
--Extracted data for 159 symbols on date : 10052005--
--Extracted data for 159 symbols on date : 11052005--
--Extracted data for 159 symbols on date : 12052005--
--Extracted data for 159 symbols on date : 13052005--
--Extracted data for 159 symbols on date : 16052005--
--Extracted data for 159 symbols on date : 17052005--
--Extracted data for 159 symbols on date : 18052005--
--Extracted data for 159 symbols on date : 19052005--
--Extracted data for 159 symbols on date : 20052005--
--Extracted data for 159 symbols on date : 23052005--
--Extracted data for 159 symbols on date : 24052005--
--Extracted data for 159 symbols on date : 25052005--
--Extracted data for 159 symbols on date : 26052005--
--Extracted data for 157 symbols on date : 27052005--
--Extracted data for 157 symbols on date : 30052005--
--Extracted data for 157 symbols on date : 31052005--
--Extracted data for 157 symbols on date : 01062005--
--Extracted data for 157 symbols on date : 02062005--
--Extracted data for 158 symbols on date : 03062005--
--Extracted data for 158 symbols on date : 06062005--
--Extracted data for 158 symbols on date : 07062005--
--Extracted data for 158 symbols on date : 08062005--
--Extracted data for 158 symbols on date : 09062005--
--Extracted data for 158 symbols on date : 10062005--
--Extracted data for 158 symbols on date : 13062005--
--Extracted data for 159 symbols on date : 14062005--
--Extracted data for 159 symbols on date : 15062005--
--Extracted data for 160 symbols on date : 16062005--
--Extracted data for 161 symbols on date : 17062005--
--Extracted data for 162 symbols on date : 20062005--
--Extracted data for 162 symbols on date : 21062005--
--Extracted data for 162 symbols on date : 22062005--
--Extracted data for 162 symbols on date : 23062005--
--Extracted data for 162 symbols on date : 24062005--
--Extracted data for 162 symbols on date : 27062005--
--Extracted data for 162 symbols on date : 28062005--
--Extracted data for 162 symbols on date : 29062005--
--Extracted data for 162 symbols on date : 30062005--
--Extracted data for 161 symbols on date : 01072005--
--Extracted data for 161 symbols on date : 04072005--
--Extracted data for 161 symbols on date : 05072005--
--Extracted data for 161 symbols on date : 06072005--
--Extracted data for 162 symbols on date : 07072005--
--Extracted data for 163 symbols on date : 08072005--

### Output

In [7]:
df

,3MINDIA,3MINDIA_DQ,ABB,ABB_DQ,ACC,ACC_DQ,AIAENG,AIAENG_DQ,APLAPOLLO,APLAPOLLO_DQ,...,ZENSARTECH,ZENSARTECH_DQ,ZOMATO,ZOMATO_DQ,ZYDUSLIFE,ZYDUSLIFE_DQ,ZYDUSWELL,ZYDUSWELL_DQ,ECLERX,ECLERX_DQ
0,2005-05-02,3595,2005-05-02,8811,2005-05-02,302597,NaN,NaN,NaN,NaN,...,2005-05-02,22926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005-05-03,4455,2005-05-03,7725,2005-05-03,205422,NaN,NaN,NaN,NaN,...,2005-05-03,18888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005-05-04,1892,2005-05-04,13908,2005-05-04,157152,NaN,NaN,NaN,NaN,...,2005-05-04,14123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005-05-05,586,2005-05-05,3709,2005-05-05,111081,NaN,NaN,NaN,NaN,...,2005-05-05,118763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005-05-06,849,2005-05-06,3127,2005-05-06,349005,NaN,NaN,NaN,NaN,...,2005-05-06,43158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2005-05-09,371,2005-05-09,9986,2005-05-09,270217,NaN,NaN,NaN,NaN,...,2005-05-09,43557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2005-05-10,320,2005-05-10,8545,2005-05-10,362121,NaN,NaN,NaN,NaN,...,2005-05-10,37724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2005-05-11,1042,2005-05-11,5296,2005-05-11,97370,NaN,NaN,NaN,NaN,...,2005-05-11,22007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2005-05-12,1264,2005-05-12,14365,2005-05-12,259979,NaN,NaN,NaN,NaN,...,2005-05-12,21644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2005-05-13,2993,2005-05-13,13755,2005-05-13,181831,NaN,NaN,NaN,NaN,...,2005-05-13,25177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2005-05-16,5044,2005-05-16,11976,2005-05-16,97265,NaN,NaN,NaN,NaN,...,2005-05-16,45851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2005-05-17,4764,2005-05-17,5620,2005-05-17,87451,NaN,NaN,NaN,NaN,...,2005-05-17,22603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2005-05-18,2892,2005-05-18,6807,2005-05-18,102187,NaN,NaN,NaN,NaN,...,2005-05-18,15064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2005-05-19,4056,2005-05-19,5050,2005-05-19,34320,NaN,NaN,NaN,NaN,...,2005-05-19,50008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2005-05-20,2445,2005-05-20,1111,2005-05-20,275627,NaN,NaN,NaN,NaN,...,2005-05-20,22443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2005-05-23,1100,2005-05-23,4395,2005-05-23,261661,NaN,NaN,NaN,NaN,...,2005-05-23,13627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2005-05-24,653,2005-05-24,9920,2005-05-24,112695,NaN,NaN,NaN,NaN,...,2005-05-24,7643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2005-05-25,556,2005-05-25,44315,2005-05-25,232375,NaN,NaN,NaN,NaN,...,2005-05-25,14118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2005-05-26,950,2005-05-26,12508,2005-05-26,122886,NaN,NaN,NaN,NaN,...,2005-05-26,7504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2005-05-27,503,2005-05-27,6559,2005-05-27,95335,NaN,NaN,NaN,NaN,...,2005-05-27,37206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2005-05-30,1051,2005-05-30,10714,2005-05-30,94668,NaN,NaN,NaN,NaN,...,2005-05-30,12458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2005-05-31,785,2005-05-31,7850,2005-05-31,230834,NaN,NaN,NaN,NaN,...,2005-05-31,8185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2005-06-01,369,2005-06-01,3701,2005-06-01,70529,NaN,NaN,NaN,NaN,...,2005-06-01,9404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2005-06-02,344,2005-06-02,14528,2005-06-02,161922,NaN,NaN,NaN,NaN,...,2005-06-02,5025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2005-06-03,891,2005-06-03,9478,2005-06-03,79200,NaN,NaN,NaN,NaN,...,2005-06-03,9278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2005-06-06,960,2005-06-06,10313,2005-06-06,307780,NaN,NaN,NaN,NaN,...,2005-06-06,23907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2005-06-07,479,2005-06-07,5559,2005-06-07,151335,NaN,NaN,NaN,NaN,...,2005-06-07,11350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2005-06-08,884,2005-06-08,15544,2005-06-08,134057,NaN,NaN,NaN,NaN,...,2005-06-08,36906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2005-06-09,1535,2005-06-09,5087,2005-06-09,387020,NaN,NaN,NaN,NaN,...,2005-06-09,31190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2005-06-10,290,2005-06-10,13579,2005-06-10,183053,NaN,NaN,NaN,NaN,...,2005-06-10,25081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2005-06-13,642,2005-06-13,1861,2005-06-13,40824,NaN,NaN,NaN,NaN,...,2005-06-13,15539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2005-06-14,64,2005-06-14,15226,2005-06-14,88223,NaN,NaN,NaN,NaN,...,2005-06-14,22347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2005-06-15,3163,2005-06-15,1518,2005-06-15,48151,NaN,NaN,NaN,NaN,...,2005-06-15,12401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2005-06-16,532,2005-06-16,1725,2005-06-16,96954,NaN,NaN,NaN,NaN,...,2005-06-16,10361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2005-06-17,524,2005-06-17,3305,2005-06-17,84988,NaN,NaN,NaN,NaN,...,2005-06-17,12036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2005-06-20,680,2005-06-20,12724,2005-06-20,165824,NaN,NaN,NaN,NaN,...,2005-06-20,10194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2005-06-21,120,2005-06-21,5316,2005-06-21,107648,NaN,NaN,NaN,NaN,...,2005-06-21,10406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2005-06-22,1241,2005-06-22,5745,2005-06-22,459178,NaN,NaN,NaN,NaN,...,2005-06-22,9866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2005-06-23,605,2005-06-23,4672,2005-06-23,746515,NaN,NaN,NaN,NaN,...,2005-06-23,8272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2005-06-24,3833,2005-06-24,6579,2005-06-24,105150,NaN,NaN,NaN,NaN,...,2005-06-24,7586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2005-06-27,3096,2005-06-27,5434,2005-06-27,145746,NaN,NaN,NaN,NaN,...,2005-06-27,8427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2005-06-28,2009,2005-06-28,20986,2005-06-28,217352,NaN,NaN,NaN,NaN,...,2005-06-28,10221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2005-06-29,204,2005-06-29,4208,2005-06-29,427520,NaN,NaN,NaN,NaN,...,2005-06-29,8566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2005-06-30,853,2005-06-30,23438,2005-06-30,467222,NaN,NaN,NaN,NaN,...,2005-06-30,6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2005-07-01,3382,2005-07-01,6657,2005-07-01,175918,NaN,NaN,NaN,NaN,...,2005-07-01,9335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2005-07-04,9777,2005-07-04,5024,2005-07-04,203108,NaN,NaN,NaN,NaN,...,2005-07-04,7893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2005-07-05,7798,2005-07-05,86648,2005-07-05,190298,NaN,NaN,NaN,NaN,...,2005-07-05,15936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2005-07-06,3874,2005-07-06,68466,2005-07-06,256786,NaN,NaN,NaN,NaN,...,2005-07-06,7004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2005-07-07,403,2005-07-07,30200,2005-07-07,215718,NaN,NaN,NaN,NaN,...,2005-07-07,8836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2005-07-08,7648,2005-07-08,25550,2005-07-08,218659,NaN,NaN,NaN,NaN,...,2005-07-08,7782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.to_excel("Solution 1.xlsx")